@use "../abstracts/vars" as vars;
@use "../abstracts/media-queries" as mq;

.bg-secondary {
  background: vars.$clr-secondary;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 2rem;
  padding-left: 4.5rem;

  @include mq.respond-to(mq.$phone) {
    
    gap: 0;
    padding-left: 1rem;
  }
}
.footer-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 1rem;

  @include mq.respond-to(mq.$phone) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
