@use "../abstracts/vars" as vars;
@use "../abstracts/media-queries" as mq;

.columns-container {
  display: grid;
  margin: 0 11.875rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.25rem;

  @include mq.respond-to(mq.$phone) {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 2rem;
  }
}

.scores-container {
  display: flex;
  gap: 3.6rem;
  flex-wrap: wrap;
}
