@use "../abstracts/vars" as vars;
@use "../abstracts/media-queries" as mq;

.columns-container {
  display: grid;
  margin: 0 3rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;

  @include mq.respond-to(mq.$tablet-portrait) {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 2rem;
  }
}

.scores-container {
  display: flex;
  gap: 3.6rem;
  flex-wrap: wrap;
}
