@use "../abstracts/vars" as vars;
@use "../abstracts/media-queries" as mq;

.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: vars.$clr-secondary;
  

  @include mq.respond-to(mq.$tablet-portrait) {
    justify-content: space-around;
  }
}

.main-logo {
  display: flex;
  margin-left: 3rem;
  align-items: center;
  text-decoration: none;
  gap: 1rem;

  @include mq.respond-to(mq.$tablet-portrait) {
    margin-left: 0;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: 3rem;
  list-style: none;
  gap: 2rem;
  cursor: pointer;

  @include mq.respond-to(mq.$tablet-portrait) {
    position: absolute;
    flex-direction: column;
    align-items: end;
    background-color: vars.$clr-secondary;
    padding: 2rem 2.15rem 76rem 1rem;
    left: 16rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    box-shadow: 12rem 0 0 11rem vars.$clr-secondary;
    
  }
}

/*le pedí a copilot que muestre el menú de forma más bonita, prompt:
 "ya terminé mi menú hamburguesa, pero no me gusta que solo aparezca y desaparezca, qué puedo hacer?"
 y me dio la propiedad transition con esos mismos valores
*/

.visible{
  visibility: visible;
  opacity: 1;
}