@use "../abstracts/vars" as vars;
@use "../abstracts/media-queries" as mq;

.text{
    text-align: center;
    padding: 0 5rem;
}

.bg-red{
    background: vars.$clr-red;
}

.bg-black{
    background: vars.$clr-black;
}

.play-img{
    width: 100%;

    @include mq.respond-to(mq.$phone){
        width: 390px;
    }
}

.section{
    height: 100vh;
    width: 100%;
}