@use "../abstracts/media-queries" as mq;
@use "../abstracts/vars" as vars;

.black-circle {
  margin: auto;
  padding-left: 2rem;

  @include mq.respond-to(mq.$phone) {
    margin: auto;
    padding-top: 1rem;
  }
}

@mixin place-holder-base($n) {
  display: inline-flex;
  gap: 1.5rem;
  border-radius: 30px;
  width: $n + px;
  height: 87px;
  color: vars.$clr-white;
}

.place-holder {
  @include place-holder-base(1171);
}

.credentials {
  @include place-holder-base(1351);
  border: none;
}

.score-pts {
  display: flex;
  justify-content: center;
  right: 16rem;
  width: 136px;
  height: 87px;
  border-radius: 30px;
}

.skull {
  right: 11rem;

  @include mq.respond-to(mq.$phone) {
    right: 2rem;
    top: 232rem;
  }
}

.shape1{
  margin: -2rem 0 -3rem 0;

  @include mq.respond-to(mq.$phone) {
    margin: auto;
  }
}
.shape2{
  margin-top: -4.5rem;

  @include mq.respond-to(mq.$phone) {
    margin: auto;
  }
}
.shape3{
  margin-top: -4.5rem;

  @include mq.respond-to(mq.$phone) {
    margin: auto;
  }
}

.img-play{
  height: 300px;
  background: url(../img/assets-web5.png);
  background-size: cover;
  background-position: center;
  width: 100%;

  @include mq.respond-to(mq.$phone) {
    display: flex;
    align-items: center;
    height: 75%;
  }
}

.icon-holder {
  display: flex;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: vars.$clr-white;
  justify-content: center;
  align-items: center;

  @include mq.respond-to(mq.$phone) {
    width: 37px;
    height: 37px;
  }
}

.icon {
  justify-self: center;
  align-self: center;
  width: 60px;
  height: 60px;

  @include mq.respond-to(mq.$phone) {
    width: 30px;
    height: 30px;
  }
}

.nav-list-link:hover {
  display: inline-flex;
  color: vars.$clr-secondary;
  font-size: vars.$fs-sm;
  background-color: vars.$clr-white;
  width: 120%;
  justify-content: center;
  border-radius: 30px;
}

.icon-holder:hover {
  background-color: vars.$clr-red;
}