@use "../abstracts/vars" as vars;
@use "../layout/shapes" as shapes;
@use "../abstracts/media-queries" as mq;

.submit {
  @include shapes.place-holder-base(1351);
  border: none;
}

.play {
  display: flex;
  border-radius: 30px;
  width: 172px;
  height: 87px;
  color: vars.$clr-white;
  border: none;
  text-decoration: none;

  @include mq.respond-to(mq.$phone) {
    width: 100px;
    height: 45px;
    margin: 1rem;
  }
}

.play:hover {
  background: vars.$clr-black;
  color: vars.$clr-red;
}

.open-menu{
  display: none;

  @include mq.respond-to(mq.$tablet-portrait) {
    display: block;
    margin-left: 7.1rem;
    width: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.close-menu{
  display: none;

  @include mq.respond-to(mq.$tablet-portrait) {
    display: block;
    width: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5);
  }
}