@use "../abstracts/vars" as vars;
@use "../layout/shapes" as shapes;

.btn{
    background: vars.$clr-white;
    color: vars.$clr-secondary;
    text-decoration: none;
    border-radius: 2.5rem;
    padding: 1rem 3rem;
    font-weight: vars.$fw-bold;
    font-size: vars.$fs-md;
}

.btn{
    display: inline-flex;
    gap: 1.5rem;
    width: 1171px;
    height: 87px;
    border-radius: 30px;
}

.submit{
    @include shapes.place-holder-base(1351);
    border: none;
}

.play{
    display: flex;
    border-radius: 30px;
    width: 172px;
    height: 87px;
    color: vars.$clr-white;
    border: none;
}