@use "../abstracts/vars" as vars;
@use "../layout/shapes" as shapes;
@use "../abstracts/media-queries" as mq;

.submit {
  @include shapes.place-holder-base(1351);
  border: none;
}

.play {
  display: flex;
  border-radius: 30px;
  width: 172px;
  height: 87px;
  color: vars.$clr-white;
  border: none;
  text-decoration: none;

  @include mq.respond-to(mq.$phone) {
    width: 100px;
    height: 45px;
  }
}

.play:hover {
  background: vars.$clr-black;
  color: vars.$clr-red;
}

.open-menu{
  display: none;

  @include mq.respond-to(mq.$phone) {
    display: block;
    margin-left: 7.1rem;
    width: 20px;
    
    border: none;
    background-color: transparent;
  }
}

.close-menu{
  display: none;

  @include mq.respond-to(mq.$phone) {
    display: block;
    width: 15px;
    background-color: transparent;
    border: none;
  }
}