@use "../abstracts/vars" as vars;
@use "../abstracts/media-queries" as mq;

.nav-list-link {
  color: vars.$clr-white;
  text-decoration: none;
  font-size: vars.$fs-xsm;
}

.title-font {
  font-family: vars.$ff-secondary;
}

.bold {
  font-weight: vars.$fw-bold;
}

.red-text {
  color: vars.$clr-red;
}

.white-text {
  color: vars.$clr-white;
}

.main-title {
  font-size: vars.$fs-xxmd;

  @include mq.respond-to(mq.$tablet-portrait) {
    font-size: vars.$fs-md;
  }
}

.pd-title {
  margin-left: 3rem;

  @include mq.respond-to(mq.$phone) {
    margin: auto;
    padding-bottom: 1rem;
  }
}

.description {
  font-size: vars.$fs-sm;

  @include mq.respond-to(mq.$tablet-portrait) {
    font-size: vars.$fs-xsm;
    margin-bottom: 4rem;
  }
}

.footer-text{
  font-size: vars.$fs-xsm;
}

.text-center {
  text-align: center;
}

.txt {
  padding-left: 3rem;
}

.txt::placeholder {
  color: vars.$clr-white;
}
