@use "../abstracts/media-queries" as mq;

//positions, displays y centers

.absolute {
  position: absolute;
}

.flex{
  display: flex;
}

.relative {
  position: relative;
}

.hidden {
  overflow: hidden;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.padding-left {
  padding-left: 10rem;

  @include mq.respond-to(mq.$phone) {
    padding-left: 0;
  }
}

//positions, displays y centers

//padings y margins

.mt-3 {
  margin-top: 3rem;
}
.mt-5 {
  margin-top: 5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-5 {
  margin-bottom: 5rem;
}

.ml-2 {
  margin-left: 2rem;
}
.ml-5 {
  margin-left: 5rem;
}

.pt-1 {
  padding-top: 1rem;
}
.pt-3 {
  padding-top: 3rem;
}
.pt-4 {
  padding-top: 4rem;
}
.pt-5 {
  padding-top: 5rem;
  @include mq.respond-to(mq.$phone) {
    padding-top: 2.5rem;
  }
}

.pt-7 {
  padding-top: 7rem;
}

.pt-10 {
  padding-top: 10rem;
  @include mq.respond-to(mq.$phone) {
    padding-top: 5rem;
  }
}

.pt-19 {
  padding-top: 19rem;
  @include mq.respond-to(mq.$phone) {
    padding-top: 0;
  }
}

.pb-1 {
  padding-bottom: 1rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-3 {
  padding-bottom: 3rem;
}
.pb-5 {
  padding-bottom: 5rem;
}
.pb-10 {
  padding-bottom: 10rem;

  @include mq.respond-to(mq.$phone) {
    padding-bottom: 2rem;
  }
}
.pl-4 {
  padding-left: 4rem;
}

//padings y margins

//images

.mobile-img {
  @include mq.respond-to(mq.$phone) {
    width: 75%;
  }

  @include mq.respond-to(mq.$large-desktop) {
    width: 80%;
    margin: auto;
  }
}

.larger-img {
  @include mq.respond-to(mq.$phone) {
    width: 55%;
  }
}

//images