$clr-main: #181818;
$clr-secondary: #444444;
$clr-white: hsl(0, 0%, 100%);
$clr-black: #101010;
$clr-red: #761314;

$fw-light: 100;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 600;
$fw-black: 900;

$ff-main: "Poppins", serif;
$ff-secondary: "Roboto slab", sans-serif;

$fs-xsm: 1rem; //16px   este se usa
$fs-sm: 1.25rem; //20px  este se usa
$fs-md: 1.563rem; //25px
$fs-xmd: 1.875rem; //30px
$fs-xxmd: 2.5rem; //40px  este se usa
$fs-lg: 3.375rem; //54px
$fs-xlg: 3.75rem; //60px
$fs-xxlg: 4.688rem; //75px
$fs-gt: 8.563rem; //137px
